html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease;
}
textarea {
  resize: none;
}
.underline {
  text-decoration: underline;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2e2f22;
}
.uppercase {
  text-transform: uppercase;
}
*::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 20px;
  color: #202117;
  opacity: 0.7;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.form-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.footer-container {
  max-width: 631px;
  width: 100%;
  margin: 0 auto;
}

ul li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: #2e2f22;
}
a:visited {
  text-decoration: none;
  color: #2e2f22;
}
a:active {
  text-decoration: none;
  color: #2e2f22;
}
a:focus {
  text-decoration: none;
  color: #2e2f22;
}

h1 {
  font-family: Spectral SC;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color: #2e2f22;
}

button {
  font-family: Open Sans;
  font-size: 16px;
  text-align: center;
  border: 1px solid #202117;
  border-radius: 10px;
  background: none;
  padding: 12px 58px;
  cursor: pointer;
  transition: 0.6s ease;
}
button:hover {
  box-shadow: -5px 5px 5px 1px #ccc;
}
.up-arrow {
  position: fixed;
  right: 50px;
  bottom: 60px;
  z-index: 1000;
  transition: 0.5s ease;
}
.hidden-arrow {
  display: none;
}

.up-arrow:hover {
  transform: scale(2);
}
// !header ///!@

header {
  background: url(../img/bg-fs.png) no-repeat scroll;
  background-size: 100%;
  min-height: 785px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  float: left;
}
.links {
  float: right;
  color: black;
  a {
    margin-top: 33px;
    margin-left: 83px;
    color: #2e2f22;
    transition: 0.6s ease;
  }
  a:hover {
    border-bottom: 3px solid steelblue;
  }
}

//!ATRICLE PAGE//
.all-pages {
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.js-button {
  display: flex;
  align-items: center;
  border: none;
  background: #d7d1c9;
  border-radius: 10px;
  padding: 12px 20px;
  img {
    margin-left: 33px;
  }
}
.pages-small {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h3 {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #2e2f22;
  }
  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2e2f22;
  }
  span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(46, 47, 34, 0.7);
  }
}
.article {
  max-width: 387px;
  padding: 5px;
  transition: 0.6s ease;
  border-radius: 10px;
}
.article:hover {
  box-shadow: -5px 5px 10px 1px black;
  border-radius: 10px;
}
.tag {
  float: left;
}
.date {
  float: right;
}

.pages-big {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 62px;
  h3 {
    font-family: Spectral SC;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: white;
  }
  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: white;
  }
  span.tag {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
  }
  span.date {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
  }
  a {
    color: white;
  }
}

.four-article {
  max-width: 590px;
  position: relative;
  padding: 5px;
  transition: 0.6s ease;
  h3 {
    position: absolute;
    top: 359px;
    left: 82px;
  }
  p {
    position: absolute;
    top: 399px;
    left: 82px;
  }
  span.tag {
    position: absolute;
    top: 489px;
    left: 82px;
  }
  span.date {
    position: absolute;
    top: 489px;
    right: 82px;
  }
}
.four-article:hover {
  box-shadow: -5px 5px 10px 1px black;
  border-radius: 10px;
}
.five-article {
  max-width: 590px;
  position: relative;
  padding: 5px;
  transition: 0.6s ease;
  h3 {
    position: absolute;
    top: 359px;
    left: 82px;
  }
  p {
    position: absolute;
    top: 399px;
    left: 82px;
  }
  span.tag {
    position: absolute;
    top: 489px;
    left: 82px;
  }
  span.date {
    position: absolute;
    top: 489px;
    right: 82px;
  }
}
.five-article:hover {
  box-shadow: -5px 5px 10px 1px black;
  border-radius: 10px;
}
.button {
  margin-top: 104px;
  text-align: center;
  button {
    border: 1px solid #202117;
    border-radius: 10px;
    background: none;
    padding: 12px 58px;
  }
}

//!ABOUT PAGE//

.about-me {
  margin-top: 85px;
}
.title-about {
  text-align: center;
}
.main-info {
  display: flex;
  &__image {
  }

  &__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2e2f22;
    p {
      margin-left: 40px;
    }
  }
}
.quote {
  max-width: 550px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #2e2f22;
  border-left: 3px solid #d7d1c9;
  margin-top: 90px;
  margin-left: 20px;
  padding: 30px 20px;
}

// !PORTFOLIO-PAGE//

.portfolio {
  &__title {
    margin-top: 60px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    color: #2e2f22;

    h3 {
      font-family: Spectral SC;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
    }
    h4 {
      font-family: Spectral SC;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
    }
    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__item-1 {
    transition: 0.6s ease;
    position: relative;
    h3 {
      position: absolute;
      top: 140px;
      left: 81px;
    }
    h4 {
      position: absolute;
      top: 214px;
      left: 51px;
    }
    p {
      position: absolute;
      top: 259px;
      left: 55px;
    }
  }
  &__item-2 {
    transition: 0.6s ease;
    position: relative;
    color: white;
    h3 {
      position: absolute;
      top: 140px;
      left: 115px;
    }
    h4 {
      position: absolute;
      top: 214px;
      left: 25px;
    }
    p {
      position: absolute;
      top: 287px;
      left: 31px;
    }
  }
  &__item-3 {
    transition: 0.6s ease;
    position: relative;
    h3 {
      position: absolute;
      top: 140px;
      left: 109px;
    }
    h4 {
      position: absolute;
      top: 214px;
      left: 63px;
    }
    p {
      position: absolute;
      top: 287px;
      left: 18px;
    }
  }
}

.portfolio__item-1:hover,
.portfolio__item-2:hover,
.portfolio__item-3:hover {
  cursor: pointer;
  box-shadow: -5px 5px 10px 1px black;
  border-radius: 15px;
  padding: 0;
}

.button {
  margin-top: 104px;
  text-align: center;
  button {
    border: 1px solid #202117;
    border-radius: 10px;
    background: none;
    padding: 12px 58px;
  }
}

// !FORMPAAGE?
form {
  background: url(../img/form-bg.png) no-repeat;
  border-radius: 10px;
  padding: 60px 80px;
  input {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px;
  }
  text-area {
    padding: 20px;
  }
}
.form-title {
  margin-top: 85px;
  text-align: center;
}
.flex-form-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mail-form-block {
  margin-left: 20px;
}

.input-button-block {
  text-align: center;
}
.input-button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #202117;
  padding: 12px 65px;
  margin-top: 20px;
  background: none;
  border: 1px solid #202117;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.6s ease;
  cursor: pointer;
}
.input-button:hover {
  box-shadow: -5px 5px 10px 5px #ccc;
  background: black;
  color: white;
}
.name {
  width: 407px;
  height: 63px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  box-sizing: border-box;
  border-radius: 10px;
}
.email {
  width: 407px;
  height: 63px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  box-sizing: border-box;
  border-radius: 10px;
}

.message {
  width: 837px;
  height: 293px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  margin-top: 12px;
}

span {
  font-family: Spectral SC;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #2e2f22;
}
// !FOOTER-PAGE

footer {
  margin-top: 60px;
  background: #d7d1c9;
  ul.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 181px;
  }
  ul {
    margin: 0;
  }
  a {
    color: #2e2f22, 100%;
  }
}
